body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #8B4513, #FFFFFF);
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #8B4513;
  padding: 20px;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeInUp 0.8s ease-out; /* Fade-in animation */
}

.logo {
  width: 80px;
  margin-right: 10px;
}

.header h1 {
  margin: 0;
  color: #FFFFFF;
  font-size: 2em;
}

.content {
  max-width: 800px;
  padding: 40px;
  margin: 100px auto 100px;
  text-align: left;
  color: #333;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-out; /* Fade-in animation */
}

.content p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
  font-weight: bold;
  font-style: italic;
}

.footer-text {
  max-width: 800px;
  margin: -100px auto 50px;
  padding: 20px;
  text-align: left;
  color: #333;
  animation: fadeInUp 0.8s ease-out; /* Fade-in animation */
}

/* Added a responsive design for smaller screens */
@media (max-width: 1200px) {
  .header h1 {
    font-size: 1.5em;
  }

  .content {
    max-width: 80%;
  }

  .footer-text {
    max-width: 80%;
  }
}

/* Further adjustments for smaller screens like tablets and phones */
@media (max-width: 600px) {
  .header h1 {
    font-size: 1.2em;
  }

  .content {
    max-width: 90%;
    padding: 20px;
  }

  .footer-text {
    max-width: 90%;
  }
}

/* Keyframe animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
